asgiref==3.7.2
Django==4.2
django-admin-index==3.1.0
django-admin-interface==0.27.0
django-colorfield==0.11.0
django-ordered-model==3.7.4
Pillow==10.1.0
python-slugify==8.0.1
sqlparse==0.4.4
text-unidecode==1.3
